<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.0" targetFramework="net40" />
  <package id="CommonComposition.Autofac.Source" version="0.2.3" targetFramework="net40" />
  <package id="CommonComposition.Source" version="0.2.3" targetFramework="net40" />
</packages>